@{
    ViewData["Title"] = "Get to Know Joel";
}

<h1>@ViewData["Title"]</h1>

<p>Below are resources about the great Joel!</p>

<h3>Where He Often Resides:</h3>
<p><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a></p>

<h3>Check Out Baconsale:</h3>
<p><a href="https://baconsale.com/" target="_blank">Baconsale Website</a></p>

<a href="https://baconsale.com/" target="_blank">
    <img src="/BaconsaleKate.jpg" alt="Joel's Baconsale Photo" style="max-width:60%; height:auto;">
</a>